.chart-container {
    height: 100vh; /* Full viewport height */
    width: 100vw; /* Full viewport width */
    margin: 0; /* Remove any margin */
    padding: 0; /* Remove any padding */
}

.chart {
    height: 100% !important;
    width: 100% !important;
}

::ng-deep canvas {
    height: 100vh !important;
    width: 100vw !important;
}